/* ----------------- app styles ------------------ */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #ccc; /* outside background */
    
    overflow-y: scroll; /* prevent scrollbar layout shift */
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 375px; /* mobile phone width */
    min-height: 100vh;
    background: #F7F7FB;
    overflow: hidden;
}

h1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #454545;
}

h2 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #454545;
}

p {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
}

.subtitle {
    margin-top: -10px;
    margin-bottom: 30px;
    color: #878787;
}

/* ----------------- header content ------------------ */

.containerHeader {
    padding: 20px 20px 0 20px;
    /* border: 1px solid blue; */
}

.headerAvatar {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.headerAvatarLetter {
    font-size: 16px;
    font-weight: 400;
    color: #777;
    text-transform: uppercase;
}

/* ------------------ search bar ------------------- */

.customSearch {
    position: relative;
    width: 335px;
    height: 35px;
    margin-top: 15px;
}

.customSearch input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: #E7E7FB;
    padding: 0 40px 0 15px; /* space for icon on right */
    font-size: 14px;
    outline: none;
}

.customSearch input::placeholder {
    color: #777;
}

/* search icon */
.customSearch button {
    position: absolute;
    right: 10px;
    top:45%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.customSearch button img {
    width: 18px;
    height: auto;
}

.customSearch button:hover {
    opacity: 0.7;
}

/* ----------------- main content ------------------ */

.containerMain {
    font-family: 'Poppins', Arial, sans-serif;
    flex: 1;
    padding: 20px 20px 100px 20px; /* extra bottom padding for fixed footer */
        /* border: 1px solid blue; */
}

.feedPost {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 1, 15, 0.1);
}

/* ----------------- card profile ------------------ */

.cardProfile {
    display: flex;
    align-items: center;
    padding: 10px;
}

.profilePic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.profileText {
    margin-top: 15px;
    font-size: 12px;
    line-height: .1;
}

/* targeted colors */
.username {
    /* color: purple; */
    font-weight: 600;
}

.dishNumber {
    /* color: blue; */
    font-weight: 600;
}

.restaurantName {
    /* color: green; */
    font-weight: 600;
}

.location, .price, .cuisine {
    color: #9F9F9F;
    font-weight: 200;
    font-size: 14px;
}


/* ----------------- card images ------------------ */

/* .cardImage {
        border: 1px solid green;
} */

.imageCarousel {
    display: flex;
    overflow-x: auto; /* horizontal scrolling */
    gap: 10px; /* space between pics */
    padding: 0 15px 15px 15px;
    scroll-behavior: smooth;

    /* Hide scrollbar in firefox */
    scrollbar-width: none;

    /* Hide scrollbar in IE/edge */
    -ms-overflow-style: none;
}

/* hide scrollbar on chrome/safari */
.imageCarousel::-webkit-scrollbar {
    display: none;
}

/* images in carousel */
.imageCarousel img {
    width: 115px;
    height: 115px;
    border-radius: 6px;
    object-fit: cover;
    flex-shrink: 0; /* no shrinking */
    transition: transform 0.2s;
}

/* ----------------- card rating ------------------ */

.cardRating {
    display: flex;
    gap: 20px; /* space bw rating and dish info */
    align-items: center; /* align children vertically */
    margin-bottom: 6px;
}

.rating {
    display: flex;
    gap: 4px; /* small space between star and number */
    background-color: #EEEFE7;
    border-radius: 4px;
    padding: 0 6px 0 5px;
    margin-left: 15px;
}

.star {
    width: 17px;
    height: 17px;
}

.dishInfo {
    display: flex;
    gap: 4px; /* space between dish name and type */
    align-items: baseline; /* align text on baseline */
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
}

.dishName {
    color: #454545;
    font-weight: 600;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
}

.dishType {
    color: #9F9F9F;
    font-size: 12px;
}

/* ----------------- card notes ------------------ */

.cardNotes {
    padding: 5px 15px 10px 15px;
}

.notesHeader h2 {
    margin-bottom: 1px;
}

.note p {
    line-height: 1.3;
}

/* ----------------- footer content ------------------ */

.containerFooter {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 375px;
    height: 80px;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.footerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #454545;
    font-size: 12px;
    gap: 4px;
    flex: 1;
    line-height: 1;
}

.navItem span {
    display: block;
    font-size: 12px;
    line-height: 1;
    margin-top: 2px;
}

.navItem img {
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 1;
    object-fit: contain;
}

/* active oval bg */
.navItem.active::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 32px;
    background-color: #E7E7FB;
    border-radius: 20px;
    bottom: 14px;
    z-index: 0;
}

/* ----------------- welcome page ------------------ */
/* ------------------------------------------------- */

.welcomeScreen {
    position: relative;
    overflow: hidden;
    width: 375px;
    min-height: 100vh;
    margin: 0 auto;
    background: #F7F7FB;
    display: flex;
    flex-direction: column;
    align-items: center;
        /* border: solid 1px blue; */
}

.welcomeBg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 375px;
    height: auto;
    z-index: 0;
}

.welcomeLogo,
.welcomeMascot,
.welcomeContent {
    position: relative;
    z-index: 1;
}

/* welcome logo */
.welcomeLogo {
    width: 145px;
    height: auto;
    margin-top: 100px;
}

/* welcome mascot image */
.welcomeMascot {
    width: 260px;
    height: auto;
    margin-top: 45px;
    object-fit: cover;
}

/* content section */
.welcomeContent {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
        /* border: solid 1px blue; */
}

/* Welcome text */
.welcomeContent h1 {
    margin: 0;
    font-size: 24px;
    color: #454545;
}

/* Primary button */
.btnStart {
    width: 335px;
    height: 50px;
    background-color: #FF6128;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Secondary button */
.btnLogin {
    width: 335px;
    height: 50px;
    background-color: #F7F7FB;
    color: #454545;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* ----------------- loading screen ------------------ */

#loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: #FF6128;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.loadingLogo {
    width: 225px;
    height: auto;
}

/* ----------------- create acct page ------------------ */
/* -----------------------------------------------------*/

.skipLinkContainer{
    position: absolute;
    top: 20px;
    right: 20px;
}

.skipLink{
    text-decoration: none;
    color: #878787;
}

.createAccountSection {
    margin-top: 45px;
}

.formInput {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #79747E;
    padding: 0 15px;
    font-size: 14px;
    margin-bottom: 30px;
    box-sizing: border-box;
    transition: border-color 0.25s ease;
        /* border: 1px solid red; */
}

.formInput:hover {
    border-color: #aaa;
}

.formInput:focus {
    outline: none;
    border: 3px solid #FF6128;
}

.formButton {
    width: 335px;
    height: 50px;
    margin-top: 10px;
    background-color: #FF6128;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.questionLogin{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.questionLogin p {
    font-size: 14px;
    font-weight: 300;
    color: #878787;
    margin: 0;
}

.loginLink {
    color: #FF6128;
    text-decoration: none;
    font-weight: 300;
    margin-left: 3px;
    transition: opacity 0.2s;
}

.loginLink:hover {
    opacity: 0.7;
}

.fieldMessage {
    text-align: right;
    font-size: 11px;
    color: #e63946;
    margin-top: -25px;
    margin-bottom: 10px;
    height: 18px; /* reserve space for message */
        /* border: 1px solid red; */
}

/* default error - needed for username field */
.fieldMessage.error {
    color: #e63946;
}

/* success hint "Username valid" */
.fieldMessage.success {
    color: #878787; 
}

#createAccountMessage{
    text-align: center;
    font-size: 14px;
    /* margin-top: 5px; */
    height: 18px; /* reserve space for message */
}

#createAccountMessage.error {
    color: #e63946;
}

#createAccountMessage.success {
    color: #2a9d71;
}


/* -------------------- login page -------------------- */
/* -----------------------------------------------------*/

.forgotPassword {
    text-align: left;
    /* padding-left: 15px; */
    margin-top: -30px;
    margin-bottom: 30px;
}

.forgotPasswordLink {
    font-size: 12px;
    font-weight: 300;
    color: #878787;
    transition: opacity 0.2s;
}

.forgotPasswordLink:hover {
    opacity: 0.7;
}

#loginMessage {
    text-align: center;
    font-size: 14px;
    height: 18px;
}

#loginMessage.error {
    color: #e63946;
}

#loginMessage.success {
    color: #2a9d71;
}

/* ----------------- new dish page ------------------ */
/* -------------------------------------------------- */

.newDishSection{
    margin-top: 45px;
        /* border: 1px solid blue; */
}

.dropdown {
    position: relative;
    margin-bottom: 30px;
        /* border: 1px solid red; */
}

.dropdownToggle {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #79747E;
    background: #fff;
    text-align: left;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caret {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #555; /* triangle */
    transition: transform 0.25s ease;
}

/* hover state */
.dropdownToggle:hover {
    border-color: #aaa;
}

/* active state */
.dropdownToggle:focus {
    outline: none;
    border: 3px solid #FF6128;
}

/* dropdown menu */
.dropdownMenu {
    position: absolute;
    top: 55px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 10px 0;
    z-index: 1005;

    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;

    opacity: 0;
    transform: translateY(-5px);
    pointer-events: none;
    transition: all 0.2s ease;
}

/* dropdown scroll bar smoothing */
.dropdownMenu::-webkit-scrollbar {
    width: 6px;
}

.dropdownMenu::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.dropdownMenu::-webkit-scrollbar-track {
    background: transparent;
}

.dropdown.open .dropdownMenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown.open .caret {
    transform: rotate(180deg);
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.dropdownItem:hover {
    background: #f5f5f5;
}

.dropdownDivider {
    height: 1px;
    background: #eee;
    margin: 5px 0;
}

.btnFindDish{
    width: 335px;
    height: 50px;
    margin-top: 10px;
    background-color: #FF6128;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* ----------------- my dishes page ------------------ */
/* --------------------------------------------------- */

.returnLinkContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -5px;
}

.returnLink {
    text-decoration: none;
    color: #878787;
    font-size: 14px;
}


/* ---------- current featured dish ----------------- */

.featuredDishCard {
    width: 100%;
    max-width: 350px;
    /* min-height: 390px; */
    margin: 20px auto 30px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 1, 15, 0.08);
    overflow: hidden;
}

.featuredDishImage {
    position: relative;
    width: 100%;
    height: 120px;
    background: #e9e9e9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.xpTag {
    position: absolute;
    top: 15px;
    right: 15px;
    min-width: 90px;
    height: 30px;
    padding: 0 12px;
    border-radius: 8px;
    background: #ffffff;
    color: #454545;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 1, 15, 0.08);
}

.featuredDishContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featuredDishMeta {
    margin: 0 0 8px 0;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
}

.featuredDishName {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #454545;
    line-height: 1.25;
}

.featuredDishRestaurant {
    font-weight: 600;
    
}

.featuredDishRestaurantBlock {
    margin-top: 20px;
}

.featuredDishMeta,
.featuredDishName,
.featuredDishRestaurantBlock {
    width: 100%;
}

.featuredDishRestaurant,
.featuredDishAddress {
    margin: 0;
    font-size: 14px;
    color: #808080;
    line-height: 1.5;
}

.triedItBtn {
    width: 300px;
    height: 50px;
    margin-top: 20px;
    background-color: #FF6128;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* -------------------- review page -------------------- */
/* -----------------------------------------------------*/

.backLinkContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -5px;
    margin-left: 7px;
}

.backLink {
    text-decoration: none;
    color: #878787;
    font-size: 16px;
}

.reviewHeadingBlock {
    margin-top: 40px;
    margin-bottom: 25px;
}

.containerReview {
    padding: 0 5px 0 5px;
    /* border: 1px solid red; */
}

.reviewTitle {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    color: #454545;
}

.reviewTitle span {
    display: block;
}

.reviewSection {
    margin-bottom: 25px;
    /* border: solid 1px blue; */
}

.reviewLabel {
    /* margin-top: 5px; */
    margin-bottom: 5px;
    color: #878787;
    font-size: 14px;
}

.starRating {
    display: flex;
    gap: 10px;
    align-items: center;
}

.starBtn {
    background: none;
    border: none;
    padding: 0;
    font-size: 50px;
    line-height: 1;
    color: #D3D3D3;
    cursor: pointer;
    transition: color 0.2s ease;
    margin-top: -15px;
    margin-bottom: 15px;
}

.starBtn.active {
    color: #FF6128;
}

.reviewTextarea {
    width: 100%;
    min-height: 100px;
    /* margin-top: -10px; */
    padding: 10px 10px;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    background: #fff;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
    color: #454545;
    resize: none;
}

.reviewTextarea::placeholder {
    color: #B0B0B0;
}

.reviewTextarea:focus {
    outline: none;
    border: 3px solid #FF6128;
}

/* ----------------- upload photos ------------------ */

.reviewUploadSection {
    margin-top: 20px;
    /* border: 1px solid red; */
}

.uploadPhotosBtn {
    width: 100%;
    height: 50px;
    background-color: #E7E7FB;
    color: #454545;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.photoPreviewContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.photoPreviewItem {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    object-fit: cover;
    background: #e9e9e9;
}

.postReviewBtn {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #FF6128;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* ----------------- profile page ------------------ */
/* ------------------------------------------------- */


/* user profile section */
.profile-header {
    text-align: center;
    margin-top: 18px;
    padding: 0 20px;
}

/* .avatar-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.avatar-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
}

.avatar-letter {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 42px;
    font-weight: 500;
    color: #777;
    text-transform: uppercase;
    line-height: 1;
}

.user-name {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #444;
    margin-bottom: 5px;
}

.user-email {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
    font-weight: 500;
}

/* xp card */
.xp-card {
    background-color: #ecedf9;
    margin: 0 20px;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.trophy-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    flex-shrink: 0;
}

.xp-info {
    flex-grow: 1;
}

.xp-text-row {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin-bottom: 8px;
}

.progress-bar-bg {
    height: 10px;
    background-color: #d1d1d1;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    width: 65%;
    background-color: #FF6128;
    border-radius: 5px;
}

/* menu card */
.menu-card {
    background-color: #ffffff;
    margin: 25px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 18px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #f0f0f0;
}

/* sign out positioning*/
.menu-item-sign-out{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 20px;
    text-decoration: none;
    color: #FF6128;
    font-weight: 500;
    cursor: pointer;
}

.menu-item img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
}

.menu-text {
    flex-grow: 1;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    left: 10px;
}

.arrow-icon {
    font-size: 12px;
    color: #aaa;
}
